{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }} Changement mot de passe
{% endblock %}

{% block TitrePage%}
    Changement mot de passe
{% endblock %}

{% block body %}
    {#{{ form(form) }}#}{##}
    {% for message in app.flashes('success') %}
        <div class="row justify-content-center mt-4">
            <div class="alert alert-success col-md-6 text-center">{{ message }}</div>
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="row justify-content-center mt-4">
            <div class="alert alert-danger col-md-6 text-center">{{ message }}</div>
        </div>
    {% endfor %}

    <div class="row justify-content-center mt-4">
        <div class="col-md-6">
            <form method="post" action="{{ path('forgotPassword') }}">
                <div >
                    <label class="my-2">Email</label>
                    <input class="form-control" placeholder="Saisissez votre e-mail" type="email" name="email">
                </div>
                <button class="btn btn-primary mt-4" type="submit">Envoyer</button>
            </form>
        </div>
    </div>

{% endblock %}

