{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }} Connexion
{% endblock %}

{% block TitrePage%}
    Connexion
{% endblock %}

{% block body %}
    {#{{ form(form) }}#}{##}
    {% for message in app.flashes('success') %}
        <div class="row justify-content-center mt-4">
            <div class="alert alert-success col-md-6 text-center">{{ message }}</div>
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="row justify-content-center mt-4">
            <div class="alert alert-danger col-md-6 text-center">{{ message }}</div>
        </div>
    {% endfor %}

    <div class="row justify-content-center mt-4">
        <div class="col-md-6">
            <form method="post" action="{{ path('login') }}">
                <div >
                    <label class="my-2">Email</label>
                    <input class="form-control" placeholder="Saisissez votre e-mail" type="email" name="_username">
                </div>
                <div >
                    <label class="my-2" for="">Mot de passe</label>
                    <input class="form-control" placeholder="Saisissez votre mot de passe" type="password" name="_password">
                </div>
                <div>
                    <a href="#">Mot de passe oublié?</a>
                </div>
                <button class="btn btn-primary mt-4" type="submit">Se connecter</button>
            </form>
        </div>
    </div>

{% endblock %}