{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} Détail contenu
{% endblock %}
    {% block stylesheets %}
        {{ parent() }} <link rel="stylesheet" href="{{ asset('css/oneTip.css') }}"/>
    {% endblock %}


{% block TitrePage%}
    Détails du contenu
{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="row justify-content-center mt-4">
            <div class="alert alert-success col-md-6 text-center">{{ message }}</div>
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="row justify-content-center mt-4">
            <div class="alert alert-danger col-md-6 text-center">{{ message }}</div>
        </div>
    {% endfor %}

    <div class="layout--meta mt5 mt0-ns h-100-ns flex flex-column justify-between">
        <div class="mb3 mb0-ns">
            {% if not app.user %}
                <p class="f6 mt2">By {{ tips.userName }}</p>
            {% else %}
                <p class="f6 mt2">By <a href="{{ path('otherProfile', {'userName': tips.userName}) }}">{{ tips.userName }}</a></p>
            {% endif %}
        </div>

    </div>

    <header class="layout--title avenir">
        <h1 class="lh-solid f1 f-subheadline-m f-headline-l purple b mv0">
            {{tips.nom}}
        </h1>
    </header>

    <section class="layout--copy1 cols-no-break cols--1 cols--2-l mt-5 lh-copy">
        <p class="mt0">{{ tips.resume }}</p>


    </section>

    <section class="layout--copy2 lh-copy">
        {% if app.user %}
            <br>
            <br>
            <div class="row justify-content-center mt-4">
                <p><a class="text-success" href="{{ path('addLike',{'id':tips.id}) }}">J'aime</a></p><span class="text-muted">{{ tips.likes }} personne(s) aime(nt) ce contenu</span>
            </div>


            <br>
            <br>
            <div class="row mt-4">
                <div class="col-md-6 col-12">
                    <form method="post" action="{{  path('addCommentaire',{'id':tips.id}) }}">
                        <div>
                            <label class="my-2" for="commentaire">Commenter le contenu</label>
                            <textarea class="form-control" placeholder='Veuillez saisir votre commentaire' name="commentaire"></textarea>
                        </div>
                        <button class="btn btn-primary mt-4" type="submit">Commenter</button>
                    </form>
                </div>
            </div>
        {% else %}
            <br>
            <br>
            <br>
            <H4>Commentaires</H4>
            <p>(Pour commenter le contenu ou consulter le profil de l'auteur, veuillez vous connecter)</p>
        {% endif %}

            <div class="row justify-content-center mt-4">
                <figure>
                    {% if tips.commentaires != NULL %}
                        {% for commentaire in tips.commentaires %}
                            <blockquote class="blockquote">
                                <p class="mb-0">{{ commentaire.contenu }}</p>

                            </blockquote>
                            <figcaption class="blockquote-footer">
                                Écrit par <cite title="Source Title">{{ commentaire.auteur }}</cite>
                            </figcaption>

                        {% endfor %}
                    {% endif %}
                </figure>
            </div>



    </section>





{% endblock %}

