{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} Détail contenu
{% endblock %}
    {% block stylesheets %}
        {{ parent() }} <link rel="stylesheet" href="{{ asset('css/oneTip.css') }}"/>
    {% endblock %}


{% block TitrePage%}
    Détails du contenu
{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="row justify-content-center mt-4">
            <div class="alert alert-success col-md-6 text-center">{{ message }}</div>
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="row justify-content-center mt-4">
            <div class="alert alert-danger col-md-6 text-center">{{ message }}</div>
        </div>
    {% endfor %}
<article class="sans-serif dark-gray ph3 ph0-ns mv5 center grid layout measure-wide-m mw8-l">

    <div class="layout--meta mt5 mt0-ns h-100-ns flex flex-column justify-between">
        <div class="mb3 mb0-ns">
            <p class="f6 mt2">By {{ tips.userName }}</p>
            <time class="f6 ttu tracked silver">apr—24—2017 10:05am</time>
        </div>

    </div>

    <header class="layout--title avenir">
        <h1 class="lh-solid f1 f-subheadline-m f-headline-l purple b mv0">
            {{tips.nom}}
        </h1>
        <h2 class="f4 f3-l mb0 light-red lh-title">This tips is about React</h2>
    </header>

    <section class="layout--copy1 cols-no-break cols--1 cols--2-l mt5 lh-copy">
        <p class="mt0">It was a Thursday at around 10 p.m., and the weekly <em>League of Legends</em> tournament was underway at PC Gamerz, a gaming cafe in Honolulu, Hawaii. The store was cool and dark inside, lit by the glow of monitors and a neon-green Monster energy drink sign plugged into the wall. Most of the patrons — almost all young men — were fixated on their screens, but occasionally something would happen in a game, and a corner of the room would break out into raucous commentary.</p>


    </section>

    <section class="layout--copy2 lh-copy">
        {% if app.user %}
            <div class="row justify-content-center mt-4">
                <p><a class="text-success" href="{{ path('addLike',{'id':tips.id}) }}">J'aime</a></p><span class="text-muted">{{ tips.likes }} personne(s) aime(nt) ce contenu</span>
            </div>


            <div class="row justify-content-center mt-4">
                <div class="col-md-6">
                    <form method="post" action="{{  path('addCommentaire',{'id':tips.id}) }}">
                        <div>
                            <label class="my-2" for="commentaire">Commenter le contenu</label>
                            <textarea class="form-control" placeholder='Veuillez saisir votre commentaire' name="commentaire"></textarea>
                        </div>
                        <button class="btn btn-primary mt-4" type="submit">Commenter</button>
                    </form>
                </div>
            </div>
        {% endif %}

            <div class="row justify-content-center mt-4">
                <figure>
                    {% if tips.commentaires != NULL %}
                        {% for commentaire in tips.commentaires %}
                            <blockquote class="blockquote">
                                <p class="mb-0">{{ commentaire.contenu }}</p>

                            </blockquote>
                            <figcaption class="blockquote-footer">
                                Écrit par <cite title="Source Title">{{ commentaire.auteur }}</cite>
                            </figcaption>

                        {% endfor %}
                    {% endif %}
                </figure>
            </div>



    </section>





{% endblock %}

