{% extends 'adminBase.html.twig' %}

{% block title %}
    {{ parent() }} Liste des demandes
{% endblock %}

{% block TitrePage%}
    Liste des demandes de statut "Pro"
{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="row justify-content-center mt-4">
            <div class="alert alert-success col-md-6 text-center">{{ message }}</div>
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="row justify-content-center mt-4">
            <div class="alert alert-danger col-md-6 text-center">{{ message }}</div>
        </div>
    {% endfor %}

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Identifiant</th>
            <th>Message</th>
        </tr>
        </thead>
        <tbody>
        {% for demande in demandes %}
            <tr>
                <td>{{ demande.idUser }}</td>
                <td>{{ demande.message }}</td>
                <td><a class="btn btn-primary" href="{{ path('choixRole',{'id':demande.idUser})}}">Modifier</a><a class="btn btn-danger" href="{{ path('deleteDemande',{'id':demande.id}) }}">Refuser</a></td>

            </tr>
        {% endfor %}


        </tbody>



    </table>



{% endblock %}