{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }} Accueil
{% endblock %}

{% block TitrePage%}
{% endblock %}
    {% block stylesheets %}
        {{ parent() }} <link rel="stylesheet" href="{{ asset('css/all.css') }}"/>
    {% endblock %}


{% block body %}
    {% for message in app.flashes('success') %}
        <div class="row justify-content-center mt-4">
            <div class="alert alert-success col-md-6 text-center">{{ message }}</div>
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="row justify-content-center mt-4">
            <div class="alert alert-danger col-md-6 text-center">{{ message }}</div>
        </div>
    {% endfor %}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#Intro">Intro</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#Doc">Documentation</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#Tuto">Tutoriel</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#Inspiration">Astuce</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#Outils">Outils</a>
    </li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade show active" id="Intro">
        <div class="box-intro">
            <p> JavaScript (souvent abrégé en « JS ») est un langage de script léger, orienté objet, principalement connu comme le langage de script des pages web. Mais il est aussi utilisé dans de nombreux environnements extérieurs aux navigateurs web tels que Node.js, Apache CouchDB voire Adobe Acrobat. Le code JavaScript est interprété ou compilé à la volée (JIT). C'est un langage à objets utilisant le concept de prototype, disposant d'un typage faible et dynamique qui permet de programmer suivant plusieurs paradigmes de programmation : fonctionnelle, impérative et orientée objet. Apprenez-en plus sur JavaScript.
            </p>
        </div>
    </div>
    <div class="tab-pane fade" id="Doc">
        <div class="d-grid gap-2">
            <button class="btn btn-lg btn-secondary" type="button"><a style="color: white" href="https://developer.mozilla.org/fr/docs/orphaned/Web/JavaScript/Guide">Documentation Developer mozilla</a></button>
            <button class="btn btn-lg btn-secondary" type="button"><a style="color: white" href="https://developer.mozilla.org/fr/docs/orphaned/Web/JavaScript/Guide">Documentation WF3</a></button>

        </div>

    </div>

    <div class="tab-pane fade" id="Inspiration">
        <div class="card bg-primary mb-3" style="max-width: 20rem;">
            <div class="card bg-dark mb-3" style="max-width: 20rem;">
                <div class="card-header text-white">Repository github</div>
                <div class="card-body">
                    <h4 class="card-title">Awesome JavaScript 10/07/2021</h4>
                    <p class="card-text">A collection of awesome browser-side JavaScript libraries, resources and shiny things.
                    </p>
                    <div class="numbers d-flex justify-content-around">
                        <div class="likes">
                        <span>80</span>
                        <i class="far fa-thumbs-up"></i></div>
                        <div class="comments">
                        <span>22</span>
                        <i class="far fa-comment-alt"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="Outils">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        PhpStorm - software
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
                    <div class="accordion-body">
                        <strong>This is the best envirment to code in php.</strong> bal blabalbalbalablabalblaba
                        you can downlaoad hee <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        bla bla - extention
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample" style="">
                    <div class="accordion-body">
                        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane fade d-flex justify-content-around" id="Tuto">
        <div class="card bg-secondary mb-3 col-sm-4 ">
            <h3 class="card-header text-white">Crash course.</h3>
            <div class="card-body">
                <h6 class="card-subtitle text-muted">by admin khalid</h6>
            </div>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/H6EhXPX5ejQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-body">
                <a href="#" class="card-link"><i class="fas fa-save"></i></a>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>

        <div class="card bg-secondary mb-3 col-sm-4">
            <h3 class="card-header text-white">Crash course 2.</h3>
            <div class="card-body">
                <h6 class="card-subtitle text-muted">by admin khalid</h6>
            </div>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/H6EhXPX5ejQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-body">
                <a href="#" class="card-link"><i class="fas fa-save"></i></a>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>

    </div>
</div>

{% endblock %}