{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} Liste des technos
{% endblock %}

{% block TitrePage%}
    Liste des technologies
{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="row justify-content-center mt-4">
            <div class="alert alert-success col-md-6 text-center">{{ message }}</div>
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="row justify-content-center mt-4">
            <div class="alert alert-danger col-md-6 text-center">{{ message }}</div>
        </div>
    {% endfor %}

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Domaine</th>
            <th>Texte Intro</th>
            <th>Liens</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for techno in technos %}
            <tr>
                <td>{{ techno.nom }}</td>
                <td>{{ techno.domaine }}</td>
                <td>{{ techno.intro}}</td>
                <td>{{ techno.doc }}</td>
                <td><a class="btn btn-primary" href="#">Modifier</a><a class="btn btn-danger" href="">Supprimer</a></td>

            </tr>
        {% endfor %}


        </tbody>



    </table>



{% endblock %}