{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }} Parcour back-end
{% endblock %}

{% block TitrePage%}
    Parcour back-end
{% endblock %}
    {% block stylesheets %}
        {{ parent() }} <link rel="stylesheet" href="{{ asset('css/scroll.css') }}"/>
    {% endblock %}

{% block body %}
    <input class="form-control w-25 p-3 mx-auto" type="text" placeholder="Search">

    <main class="main">
        <div class="container">
            <div class="scroll">

                <div class="card border-primary" style="width: 18rem;">
                    <img class="card-img-top img-thumbnail" style="height: 300px;object-fit: cover;" src="{{ asset('upload/0-PHP.png') }}" loading="lazy" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="text text-title">PHP</h3>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>

                <div class="card border-primary" style="width: 18rem;">
                    <img class="card-img-top img-thumbnail" style="height: 300px;object-fit: cover;" src="{{ asset('upload/1-NodeJS.png') }}" loading="lazy" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="text text-title">Node js</h3>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>

                <div class="card border-primary" style="width: 18rem;">
                    <img class="card-img-top img-thumbnail" style="height: 300px;object-fit: cover;" src="{{ asset('upload/1-python.png') }}" loading="lazy" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="text text-title">Python</h3>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>

                <div class="card border-primary" style="width: 18rem;">
                    <img class="card-img-top img-thumbnail" style="height: 300px;object-fit: cover;" src="{{ asset('upload/1-MySQL.png') }}" loading="lazy" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="text text-title">MySQL</h3>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>

                <div class="card border-primary" style="width: 18rem;">
                    <img class="card-img-top img-thumbnail" style="height: 300px;object-fit: cover;" src="{{ asset('upload/1-SQL.jpg') }}" loading="lazy" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="text text-title">SQL</h3>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>

            </div>
        </div>
    </main>

    <script src="{{ asset('js/scroller.js') }}"></script>
{% endblock %}
