{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }} Parcour front-end
{% endblock %}

{% block TitrePage%}
    Parcour front-end
{% endblock %}
    {% block stylesheets %}
        {{ parent() }}<link rel="stylesheet" href="{{ asset('css/scroll.css') }}"/>
    {% endblock %}

{% block body %}
    <input class="form-control w-25 p-3 mx-auto" type="text" placeholder="Search">

    <main class="main">
        <div class="container">
            <div class="scroll">

                <div class="card border-primary" style="width: 18rem;">
                    <img class="card-img-top img-thumbnail" style="height: 300px;object-fit: cover;" src="{{ asset('upload/1-HTML.png') }}" loading="lazy" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="text text-title">HTML</h3>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>

                <div class="card border-primary" style="width: 18rem;">
                    <img class="card-img-top img-thumbnail" style="height: 300px;object-fit: cover;" src="{{ asset('upload/1-CSS.png') }}" loading="lazy" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="text text-title">CSS</h3>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>

                <div class="card border-primary" style="width: 18rem;">
                    <img class="card-img-top img-thumbnail" style="height: 300px;object-fit: cover;" src="{{ asset('upload/1-JS.png') }}" loading="lazy" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="text text-title">JS</h3>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>

                <div class="card border-primary" style="width: 18rem;">
                    <img class="card-img-top img-thumbnail" style="height: 300px;object-fit: cover;" src="{{ asset('upload/1-react.png') }}" loading="lazy" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="text text-title">React js</h3>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>

                <div class="card border-primary" style="width: 18rem;">
                    <img class="card-img-top img-thumbnail" style="height: 300px;object-fit: cover;" src="{{ asset('upload/2-Angular.png') }}" loading="lazy" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="text text-title">Angular</h3>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>

                <div class="card border-primary" style="width: 18rem;">
                    <img class="card-img-top img-thumbnail" style="height: 300px;object-fit: cover;" src="https://thumbs.gfycat.com/PinkPiercingBull-size_restricted.gif" loading="lazy" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="text text-title">Vue js</h3>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>

<script src="{{ asset('js/scroller.js') }}"></script>
{% endblock %}
