{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }} Technos Front-end
{% endblock %}

{% block TitrePage%}
    Technologies Front-end
{% endblock %}
    {% block stylesheets %}
        {{ parent() }}<link rel="stylesheet" href="{{ asset('css/scroll.css') }}"/>
    {% endblock %}

{% block body %}
    <form class="d-flex mx-auto justify-content-center" action="{{ path('searchRender') }}">
    <input class="form-control m-1 w-25" type="text" placeholder="Saisissez une technologie" name="search">
    <button class="btn btn-primary" type="submit">Rechercher</button>
    </form>
    <main class="main">
        <div class="container">
            <div class="scroll">
                {% for techno in technos %}
                <div class="card border-primary" style="width: 18rem;">
                    <a href="{{ path('choix', {'id': techno.id}) }}">
                        <img class="card-img-top img-thumbnail" style="height: 300px;object-fit: cover;" src="upload/{{ techno.photo }}" loading="lazy" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <h3 class="text text-title">{{ techno.nom }}</h3>
                        <p class="card-text">{{ techno.intro }}</p>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </main>

    <script src="{{ asset('js/scroller.js') }}"></script>
{% endblock %}
