{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }} Accueil
{% endblock %}

{% block TitrePage%}
{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="row justify-content-center mt-4">
            <div class="alert alert-success col-md-6 text-center">{{ message }}</div>
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="row justify-content-center mt-4">
            <div class="alert alert-danger col-md-6 text-center">{{ message }}</div>
        </div>
    {% endfor %}
    <nav class="bg-dark navbar-dark">
        <div class="container"></div>
    </nav>
    <section id="header" class="jumbotron text-center">
        <h1 class="display-3 m-4">Welcome to DicoWeb</h1>
        <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>

        <div class="d-grid gap-2">
            <a href="{{ path('parcours') }}">
            <button type="button" class="col-6 btn btn-outline-success btn-lg mx-auto">Choisir une techno</button></a>

        </div>
    </section>
    <section id="gallery">

        <div class="container mb-4">
            <h5 class="my-4">Ce que nous vous conseillons pour commencer :</h5>
            <div class="row">
                {% for techno in technos %}
                <div class="col-lg-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ techno.nom }}</h5>
                            <p class="card-text">{{ techno.intro }}</p>
                            <a href="{{ path('choix', {'id': techno.id}) }}" class="btn btn-outline-success btn-sm mx-auto d-block">En savoir plus</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>




{% endblock %}