{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} Profil
{% endblock %}

{% block stylesheets %}
    {{ parent() }} <link rel="stylesheet" href="{{ asset('css/profile.css') }}"/>
{% endblock %}

{% block TitrePage%}
    Profil
{% endblock %}
{% block body %}
    <div class="container-profile d-flex justify-content-between text-center">
        <div class="div-left">
            <div class="container-image mb-5">
                <img class="rounded-circle m-auto w-75" src="{{ user.photo }}">
            </div>
            <div class="container-info-profile text-center">
                <h1>{{ user.username }}</h1>
                <p>React/Node JS</p>
                <a class="btn btn-outline-primary" href="{{ user.linkedin }}">Contact</a>
            </div>
        </div>
        <div class="div-right w-50">
            <div class="form-check form-switch w-50 m-auto d-flex justify-content-around">
                <span class="form-check-label mr-1" for="flexSwitchCheckChecked " id="flexSwitchCheckChecked">SHARED</span>
                <div class="" >
                    <input class="form-check-input " type="checkbox" id="flexSwitchCheckDefault">
                </div>
                <span class="form-check-label" for="flexSwitchCheckChecked " id="flexSwitchCheckChecked1">INFO</span>
            </div>
            <div class="container-shared m-auto justify-content-around" id="shared">
                <div class="card text-white bg-primary m-3" style="max-width: 20rem;">
                    <div class="card-body text-dark">
                        <h4 class="card-title">Primary card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card text-white bg-primary m-3" style="max-width: 20rem;">
                    <div class="card-body text-dark">
                        <h4 class="card-title">Primary card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="container-info m-auto justify-content-around " id="infoTest" >
                <div class="premiere-info m-3">
                    <h4>Nom/Prenom</h4>
                    <p>{{ user.nom }} {{ user.prenom }}</p>
                    <h4>Occupation</h4>
                    <p>Etudiant</p>
                    <h4>Ville</h4>
                    <p>Paris</p>


                </div>
                <div class="deuxieme-info m-3">
                    <h4>Github</h4>
                    <p><a href="{{ user.github }}">lien pour la repository</a></p>
                    <h4>Bio</h4>
                    <p>je suis en reconversion professionnel et j'aimerais bien recevoir des feedback mes projet sur github.</p>
                </div>

            </div>
        </div>
        <script>


            let flexSwitchCheckDefault=document.getElementById("flexSwitchCheckDefault");
            console.log(flexSwitchCheckDefault);
            let infoTest=document.getElementById("infoTest");
            let shared=document.getElementById("shared");
            console.log(infoTest);
            console.log(shared);
            infoTest.style.display="none";
            shared.style.display="flex";
            flexSwitchCheckDefault.addEventListener("click",function(){
                console.log(infoTest.style.display);
                if (infoTest.style.display === "none")
                {
                    infoTest.style.display = "flex" ;
                    shared.style.display="none";
                } else {
                    infoTest.style.display = "none" ;
                    shared.style.display="flex";
                }
            })


        </script>
    </div>
    </div>
{% endblock %}