<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{{ asset('upload/favicon.ico') }}">
    <title>{% block title %} DicoWeb | {% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
    {% endblock %}

    {% block javascripts %}
        {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}
</head>
<body  style="overflow-x: hidden;">
    <canvas class='connecting-dots'></canvas>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand fs-2" href="{{ path('home')}}">DicoWeb</a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navbarColor01" style="">

                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('home') }}">Accueil</a>
                    </li>
                    {% if not app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('login') }}">Connexion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('register') }}">Inscription</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('profile') }}">Profil</a>
                        </li>
                        {% if is_granted('ROLE_PRO') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('addTips') }}">Ajouter Tips</a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('addTechno') }}">Panel Admin</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('logout') }}">Deconnexion</a>
                        </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </nav>
    <div class="row justify-content-center mb-3">
        <div class="col-md-6 d-flex justify-content-center" style="margin-top: 15px">
            <h1>{% block TitrePage %}{% endblock %}</h1>
        </div>
    </div>

    <div class="container mt-3">
        {% block body %}{% endblock %}
    </div>
    <footer class="">
        <div class="copyright-area">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2021, All Right Reserved <a href="{{ path('home') }}">DicoWeb</a></p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-center">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="{{ path('parcours') }}">Parcours</a></li>
                            {% if app.user %}
                                <li><a href="{{ path('contact') }}">Contactez-nous</a></li>
                            {% endif %}

                            <li><a href="{{ path('infoLegales') }}">Informations Légales</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    {% block JS %}
        <script src="{{ asset('js/jsbootstrap/bootstrap.bundle.js') }}"></script>
        <script src="{{ asset('js/particule.js') }}"></script>
    {% endblock %}
</body>
</html>