{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }} Modification Techno
{% endblock %}

{% block TitrePage%}
    Modification de la technologie
{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="row justify-content-center mt-4">
            <div class="alert alert-success col-md-6 text-center">{{ message }}</div>
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="row justify-content-center mt-4">
            <div class="alert alert-danger col-md-6 text-center">{{ message }}</div>
        </div>
    {% endfor %}
    {{ form_start(form) }}

    <label for="">Nom de la technologie</label>
    {{ form_row(form.nom) }}
    <label for="">Domaine</label>
    {{ form_row(form.domaine) }}
    <label for="">Texte d'introduction</label>
    {{ form_row(form.intro) }}
    <label for="">Lien vers documentation</label>
    {{ form_row(form.doc) }}
    {{ form_row(form.Valider) }}

    {{ form_end(form) }}
{% endblock %}


